btn-group.active {
  background-color: green !important;
}


.container-fluid{
    height: 6rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: 0.25rem;
    font-size: 3.5rem;
    font-family: Sans-Serif;
    color: white;
}


.forecasting {
  margin-top:50px;
  
}

.child {
  font-size: 2.5rem;
  display: inline;
}


