.left {
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100vh;
  overflow: auto;
  background-color: #F5F4F4;
  min-width: 40vh;
}

div.content {
  margin-left: 40%;
  height: 100vh;
  width: auto;
}

.title_head {
  background-color: #957bbe;
  height: 10vh;
}

.right_head {
  height: 10vh;
}

.title_text {
  font-family: Krungthep;
  color: white;
  font-size: 4vh;
  /* top | right | bottom | left */
  padding: 2vh 0vh 2vh 2vh;
}

.text_left {
  /* top | right | bottom | left */
  padding: 2vh 4vh 0 4vh;
  font-family: Helvetica;
  color: #707070;
  font-size: 2vh;
  text-align: justify;
  text-justify: inter-word;
}

.hidden {
  display: none;
}

.text_left_heading {
  /* top | right | bottom | left */
  padding: 2vh 2vh 0 4vh;
  font-size: 3vh;
  font-family:  'Courier New', monospace;
  color: #707070;
}

.text_line:hover {
  color: #acacac;
  cursor: pointer;
  border-bottom:2px solid #acacac;
}

.text_line {
  color: #707070;
  text-decoration: none;
  border-bottom:2px solid #707070;
  display: inline-block;
  line-height: 1.5em;
}

.selected {
  color: #957bbe;
  border-bottom:2px solid #957bbe;
}

.content_block {
  height: 100%;
  /* top | right | bottom | left */
  padding: 5vh 2.5vw 5vh 2.5vw;
}

.content_block_inner {
  background-color: #F5F4F4;
}

/* From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}