btn-group.active {
  background-color: green !important;
}


.container-fluid{
    height: 6rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: 0.25rem;
    font-size: 3.5rem;
    font-family: Sans-Serif;
    color: white;
}

.container{
    height: 6rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: 0.25rem;
    font-size: 3.5rem;
    font-family: Sans-Serif;
    color: white;
}



.button_row {
  margin-top:50px;
  font-size:2.25rem;
  
}

.child {
  font-size: 2.5rem;
  display: inline;
 
}

.btn-group-toggle {
  margin-left: 50px;

}
